<template id="category-search">
  <input
    name="search"
    type="search"
    placeholder="search for categories or foods"
    onKeyDown="searchString=this.value"
  />
  <div class="search-text" attribute="searchText"></div>
  <div class="search-results" attribute="searchResults"></div>
</template>

<script lang="ts">
  customElements.define(
    "category-search",
    class extends HTMLElement {
      constructor() {
        super();
        let template = document.getElementById("category-search");
        let templateContent = template.content;

        this._menu = {};
        this.searchTerm = this.getAttribute("search-term");
        this.filteredMenu = this._menu;

        let shadowRoot = this.attachShadow({ mode: "open" });
        shadowRoot.appendChild(templateContent.cloneNode(true));
        shadowRoot
          .querySelectorAll("[name='search']")[0]
          .addEventListener("input", (e) => {
            this.searchTerm = e.target.value;
            this.render();
          });
        this.render();
      }
      render() {
        this.shadowRoot.querySelectorAll("[attribute]").forEach((elem) => {
          const attribute = elem.getAttribute("attribute");
          const value = this.dataset?.[attribute];
          if (attribute && value) elem.textContent = value;
          else elem.style.display = "none";
        });
        const filteredMenu = this.filterMenu(this.searchTerm);
        if (this.searchTerm) {
          this.shadowRoot.querySelector('[attribute="searchText"]').style.display = "block";
          this.shadowRoot.querySelector('[attribute="searchText"]').innerHTML = `Filtering for "${this.searchTerm}"`;
        }
        this.shadowRoot.querySelector('[attribute="searchResults"]').style.display = "block";
        this.shadowRoot.querySelector('[attribute="searchResults"]').innerHTML = "";
        this.shadowRoot.querySelector('[attribute="searchResults"]').innerHTML = Object.entries(filteredMenu)
          .map(
            ([category, data]) =>
              `<category-card
                data-title="${category}"
                data-description="${data?.description}"
                data-items='${JSON.stringify(data?.items)}'>
              </category-card>`
          )
          .join("\n");
      }
      filterMenu(searchString) {
        const search = searchString?.toLowerCase();
        let filteredMenu = {};
        if (!searchString && searchString !== "") return this._menu;
        else {
          Object.entries(this.menu).forEach(([category, data]) => {
            if (category.toLowerCase().includes(search))
              filteredMenu[category] = data;
            if (data?.description.toLowerCase().includes(search))
              filteredMenu[category] = data;
            // if (data?.items?.some(item => item.toLowerCase().includes(search)))  filteredMenu[category] = data;;
            return false;
          });
        }
        return filteredMenu;
      }
      static get observedAttributes() {
        return ["search-term", "description", "price", "title"];
      }
      attributeChangedCallback(name, oldValue, newValue) {
        if (name === "search-term") {
          this.searchTerm = newValue;
          this.render();
        }
      }
      get menu() {
        return this._menu;
      }
      set menu(mnu) {
        this._menu = mnu;
        this.render();
      }
    }
  );
</script>
