<template id="category-search">
  <input
    name="search"
    type="search"
    placeholder="search for categories or foods"
    onKeyDown="searchString=this.value"
  />
  <div class="search-text" part="searchTerm"></div>
  <div class="search-results" part="searchResults"></div>
</template>

<script lang="ts" type="module">
  import BaseComponent from "./src/components/BaseComponent.ts";
  customElements.define(
    "category-search",
    class CategorySearch extends BaseComponent {
      setup() {
        this._menu = {};
        this.filteredMenu = this._menu;
        this.searchTerm = this.dataset?.searchTerm ?? "";

        this.shadowRoot
          .querySelector("[name='search']")
          .addEventListener("input", (e) => {
            this.searchTerm = e.target.value;
            this.render();
          });
      }
      render() {
        const filteredMenu = this.filterMenu(this.searchTerm);
        if (this.searchTerm) {
          const searchTextElement = this.shadowRoot.querySelector(
            '[part="searchTerm"]'
          );
          searchTextElement.style.display = "block";
          searchTextElement.innerHTML = `Filtering for "${this.searchTerm}"`;
        }
        const searchResultsElement = this.shadowRoot.querySelector(
          '[part="searchResults"]'
        );
        searchResultsElement.style.display = "block";
        searchResultsElement.innerHTML = "";
        searchResultsElement.innerHTML =
          Object.entries(filteredMenu)
            .map(
              ([category, data]) =>
                `<category-card
                data-title="${category}"
                data-description="${data?.description}"
                data-items='${JSON.stringify(data?.items)}'
                data-search-term="${this.searchTerm}">
              </category-card>`
            )
            .join("\n");
      }
      filterMenu(searchString) {
        if (!searchString && searchString !== "") return this._menu;
        const search = searchString?.toLowerCase();
        let filteredMenu = {};
        Object.entries(this.menu).forEach(([category, data]) => {
          if (category.toLowerCase().includes(search))
            filteredMenu[category] = data;
          if (data?.description.toLowerCase().includes(search))
            filteredMenu[category] = data;
          if (
            Object.entries(data?.items || {}).some(([item, _]) =>
              item.toLowerCase().includes(search)
            )
          )
            filteredMenu[category] = data;
          return false;
        });
        return filteredMenu;
      }
      static get observedAttributes() {
        return ["search-term", "description", "price", "title"];
      }
      attributeChangedCallback(name, oldValue, newValue) {
        if (name === "search-term") {
          this.searchTerm = newValue;
          this.render();
        }
      }
      get menu() {
        return this._menu;
      }
      set menu(mnu) {
        this._menu = mnu;
        this.render();
      }
    }
  );
</script>
